<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <header>
        <h1>{{$ctrl.numRequests}} last Requests</h1>
        <small>{{$ctrl.numRequests}} Request shown of {{$ctrl.count}} </small>
      </header>
    </div>
    <div class="col-md-3 col-md-offset-3">
        <h3> Show # of Requests: </h3>
        <form class="new-task" ng-submit="$ctrl.requests">
          <input type="number" ng-model="$ctrl.numRequests"
                 min="0" step="1" class="form-control"
                 placeholder="{{$ctrl.numRequests}}">
        </form>
    </div>
  </div>
  <div class="row">
    <table class='table'>
      <thead>
        <th>IP</th>
        <th cols='2'>Date of Request</th>
        <th cols='3'>User Agent</th>
      </thead>
      <tbody>
        <tr ng-repeat="request in $ctrl.requests" >
          <td>{{request.ip}}</td>
          <td cols='2'>{{request.created_at}}</td>
          <td cols='3' >{{request.userAgent}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
